
on:
  push:
    branches:
      - main
permissions: 
 id-token: write
 contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2 
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
         terraform_version: 1.6.6
        
    - name: Terraform Apply
      run: |
        cd terraform
        terraform init
        terraform refresh
        terraform apply -auto-approve \
          -var "vm_user=${{ secrets.VM_USER }}" \
          -var "ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}"
          
    - name: Get VM IP
      run: |
        cd terraform
        echo "VM_IP=$(terraform output -raw vm_public_ip)" >> $GITHUB_ENV

    - name: Setup SSH
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
        chmod 600 key.pem

    - name: Install Nginx
      run: |
        ssh -i key.pem -o StrictHostKeyChecking=no \
        ${{ secrets.VM_USER }}@$VM_IP \
        "sudo apt update && sudo apt install -y nginx"
        
    - name: Deploy Website
      run: |
        scp -i key.pem -o StrictHostKeyChecking=no -r \
        html-web-app/* \
        ${{ secrets.VM_USER }}@$VM_IP:/tmp/

        ssh -i key.pem -o StrictHostKeyChecking=no \
        ${{ secrets.VM_USER }}@$VM_IP \
        "sudo rm -rf /var/www/html/* && sudo cp -r /tmp/* /var/www/html/"

    - name: Restart Nginx
      run: |
        ssh -i key.pem -o StrictHostKeyChecking=no \
        ${{ secrets.VM_USER }}@$VM_IP \
        "sudo systemctl restart nginx"






